{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<h1>Создание аккаунта</h1>
<form action="{{ url_for('register') }}" method="post" class="upload-form">
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit" class="btn">Зарегистрироваться</button>
</form>
{% endblock %}